<a href="https://colab.research.google.com/github/guilhermefmaximo/eng1111/blob/main/L3_Guilherme_Maximo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/drive')
data = pd.read_csv("/drive/My Drive/class_heart_disease.csv")

print(data.info())

display(data)

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       303 non-null    float64
 1   Sex       303 non-null    float64
 2   CP        303 non-null    float64
 3   Trestbps  303 non-null    float64
 4   Chol      303 non-null    float64
 5   Fbs       303 non-null    float64
 6   Restecg   303 non-null    float64
 7   Thalach   303 non-null    float64
 8   Exang     303 non-null    float64
 9   Oldpeak   303 non-null    float64
 10  Slope     303 non-null    float64
 11  Ca        303 non-null    object
 12  Thal      303 non-null    object
 13  Num       303 non-null    int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.3+ KB
None

,Age,Sex,CP,Trestbps,Chol,Fbs,Restecg,Thalach,Exang,Oldpeak,Slope,Ca,Thal,Num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

In [ ]:
data.dropna(subset = ["Age"], inplace = True)

#DATASHEET NAO POSSUI VALORES NULOS#

idade_media = data["Age"].mean()
print(idade_media)

54.43894389438944

In [ ]:
#removendo idades 10 anos ou mais diferente da media

remov = data[(abs(data['Age'] - idade_media) >= 10 )].index
ndata = data.copy()
ndata.drop(remov, inplace = True)
display(ndata)

,Age,Sex,CP,Trestbps,Chol,Fbs,Restecg,Thalach,Exang,Oldpeak,Slope,Ca,Thal,Num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
5,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
6,62.0,0.0,4.0,140.0,268.0,0.0,2.0,160.0,0.0,3.6,3.0,2.0,3.0,3
7,57.0,0.0,4.0,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0
8,63.0,1.0,4.0,130.0,254.0,0.0,2.0,147.0,0.0,1.4,2.0,1.0,7.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,59.0,1.0,4.0,164.0,176.0,1.0,2.0,90.0,0.0,1.0,2.0,2.0,6.0,3
297,57.0,0.0,4.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,7.0,1
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1

In [ ]:
c1 = ndata["Age"]
c2 = ndata["Sex"]
c3 = ndata["Chol"]
c4 = ndata["Slope"]
c5 = ndata["Num"]

data3 = pd.concat([c1,c2,c3,c4,c5],axis = 1)
display(data3)

      Age  Sex   Chol  Slope  Num
0    63.0  1.0  233.0    3.0    0
5    56.0  1.0  236.0    1.0    0
6    62.0  0.0  268.0    3.0    3
7    57.0  0.0  354.0    1.0    0
8    63.0  1.0  254.0    2.0    2
..    ...  ...    ...    ...  ...
296  59.0  1.0  176.0    2.0    3
297  57.0  0.0  241.0    2.0    1
298  45.0  1.0  264.0    2.0    1
300  57.0  1.0  131.0    2.0    3
301  57.0  0.0  236.0    2.0    1

[207 rows x 5 columns]

In [ ]:
import random

lista_idade = c1.tolist()
lista_chol = c3.tolist()

novo = list()

for i, el in enumerate(lista_idade):
  n = (el + lista_chol[i]) * random.randint(0,1)
  novo.append(n)

data3.insert(5,"NOVO",novo)
display(data3)

      Age  Sex   Chol  Slope  Num   NOVO
0    63.0  1.0  233.0    3.0    0  296.0
5    56.0  1.0  236.0    1.0    0    0.0
6    62.0  0.0  268.0    3.0    3  330.0
7    57.0  0.0  354.0    1.0    0  411.0
8    63.0  1.0  254.0    2.0    2  317.0
..    ...  ...    ...    ...  ...    ...
296  59.0  1.0  176.0    2.0    3    0.0
297  57.0  0.0  241.0    2.0    1    0.0
298  45.0  1.0  264.0    2.0    1    0.0
300  57.0  1.0  131.0    2.0    3  188.0
301  57.0  0.0  236.0    2.0    1    0.0

[207 rows x 6 columns]

In [ ]:
import numpy as np

embaralhado = data3.reindex(np.random.permutation(data3.index))
display(embaralhado)

      Age  Sex   Chol  Slope  Num   NOVO
142  52.0  1.0  205.0    1.0    0  257.0
203  64.0  0.0  313.0    1.0    0    0.0
230  52.0  0.0  196.0    2.0    0  248.0
278  57.0  1.0  232.0    1.0    1  289.0
33   59.0  1.0  234.0    2.0    0    0.0
..    ...  ...    ...    ...  ...    ...
0    63.0  1.0  233.0    3.0    0  296.0
26   58.0  0.0  340.0    1.0    0    0.0
44   61.0  0.0  330.0    1.0    1  391.0
21   58.0  0.0  283.0    1.0    0    0.0
88   53.0  0.0  234.0    1.0    0    0.0

[207 rows x 6 columns]

In [ ]:
#idade crescente

teste = embaralhado.sort_values(by='Age', ascending=True)
display(teste)

      Age  Sex   Chol  Slope  Num   NOVO
100  45.0  1.0  260.0    1.0    0  305.0
169  45.0  0.0  160.0    2.0    0    0.0
125  45.0  0.0  234.0    2.0    0    0.0
148  45.0  1.0  308.0    1.0    0    0.0
197  45.0  0.0  236.0    2.0    0  281.0
..    ...  ...    ...    ...  ...    ...
275  64.0  1.0  227.0    2.0    0  291.0
20   64.0  1.0  211.0    2.0    0  275.0
252  64.0  1.0  263.0    2.0    0    0.0
174  64.0  1.0  212.0    2.0    4  276.0
218  64.0  0.0  303.0    2.0    0    0.0

[207 rows x 6 columns]

In [ ]:
#NAO TINHA COLUNA DE STRING

group = teste.groupby(["Age"])
print(group.size().reset_index(name='quant'))

     Age  quant
0   45.0      8
1   46.0      7
2   47.0      5
3   48.0      7
4   49.0      5
5   50.0      7
6   51.0     12
7   52.0     13
8   53.0      8
9   54.0     16
10  55.0      8
11  56.0     11
12  57.0     17
13  58.0     19
14  59.0     14
15  60.0     12
16  61.0      8
17  62.0     11
18  63.0      9
19  64.0     10

In [ ]:
#dobrando as idades com map

teste["Age"]=teste["Age"].map(lambda x: x*2)
display(teste)

       Age  Sex   Chol  Slope  Num   NOVO
100   90.0  1.0  260.0    1.0    0  305.0
169   90.0  0.0  160.0    2.0    0    0.0
125   90.0  0.0  234.0    2.0    0    0.0
148   90.0  1.0  308.0    1.0    0    0.0
197   90.0  0.0  236.0    2.0    0  281.0
..     ...  ...    ...    ...  ...    ...
275  128.0  1.0  227.0    2.0    0  291.0
20   128.0  1.0  211.0    2.0    0  275.0
252  128.0  1.0  263.0    2.0    0    0.0
174  128.0  1.0  212.0    2.0    4  276.0
218  128.0  0.0  303.0    2.0    0    0.0

[207 rows x 6 columns]

In [ ]:
#mandando pro drive

teste.to_csv("/drive/My Drive/teste.csv")
teste.to_json("/drive/My Drive/teste.json")